* {
    box-sizing: border-box
}

body {
    margin: 0;
    background: #151815;
    color: #eee;
    font-family: system-ui, sans-serif
}

main {
    max-width: 1400px;
    margin: auto;
    padding: 16px
}

header,
aside,
footer {
    background: #242a24;
    border: 1px solid #3b443b;
    border-radius: 12px;
    padding: 14px
}

header {
    width: fit-content;
    gap: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

aside {
    position: absolute;
    top: 2%;
}

h1 {
    font-size: 24px;
    margin: 0
}

section {
    display: grid;
    grid-template-columns: 190px 1fr;
    gap: 12px
}

#map {
    position: relative;
    margin: 30px 30px 30px 40vw;
    width: 525px;
    height: 525px;
    max-width: 90vw;
    max-height: 70vh;
    overflow: auto;
    background: #111;
}

.tile {
    position: absolute;
    width: 35px;
    height: 35px;
    border: 1px solid #555;
    display: grid;
    place-items: center;
    cursor: pointer
}

.tile.placement-target::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 0, 0, .3);
    pointer-events: none
}

.barren {
    background: #8c7958
}

.swamp {
    background: #6d8061
}

.grass {
    background: #7ca35e
}

.forest {
    background: #3f6844
}

.water-source {
    background: #5d9db1
}

.waterway {
    background: #72b7cb
}

.device {
    box-shadow: inset 0 0 0 3px #e6d37a
}

footer {
    width: fit-content;
    margin-top: 12px;
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
}

button {
    padding: 9px 12px;
    border: 1px solid #596359;
    border-radius: 8px;
    background: #303830;
    color: #eee;
    cursor: pointer
}

button:disabled {
    opacity: .35;
    cursor: not-allowed
}

button.selected-device {
    background: #8a4f4f;
    border-color: #e07a7a
}

@media(max-width:850px) {
    section {
        grid-template-columns: 1fr
    }

    aside {
        order: 2
    }

    #map {
        width: 525px;
        height: 525px;
        max-width: 95vw;
        max-height: none
    }
}